#parent{
    position: absolute;
    top: 50px;
    right: 90px;
    padding: 200px;
    border:1px solid crimson;
    width: 500px;
    background-color: cyan;
    text-align: center;
}
#child{
    position: absolute;
    top:150px;
    right:400px;
    padding:100px;
    
    
    
    border:2px solid crimson;
    width: 100px;
    background-color: cyan;
    text-align: center;
}