body{
    background-repeat: no-repeat;
    background-size: cover;
}

h1,p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-size: 300px;
}

.Responsive{
    height: 400px;
    width: 100%;


}